{% from 'header/macro.njk' import header %}

{%- if pageTitle == 'Search' %}
  {{ header({
    "homeHref": "/service-manual/",
    "ariaLabel": "NHS digital service manual homepage",
    "service": {
      "name": "Digital service manual",
      "longName": "true"
    },
    "showNav": "true",
    "primaryLinks": [
      {
        "url"  : "/service-manual/get-started",
        "label" : "Get started"
      },
      {
        "url" : "/service-manual/styles",
        "label" : 'Styles'
      },
      {
        "url"  : '/service-manual/components',
        "label" : 'Components'
      },
      {
        "url"  : '/service-manual/patterns',
        "label" : 'Patterns'
      },
      {
        "url"  : '/service-manual/content',
        "label" : 'Content style guide'
      },
      {
        "url"  : '/service-manual/accessibility',
        "label" : 'Accessibility'
      },
      {
        "url"  : '/service-manual/community',
        "label" : 'Community'
      }
    ],
    "showSearch": "false",
    "searchAction": "/service-manual/search/"
    })
  }}
{% else %}
  {{ header({
    "homeHref": "/service-manual/",
    "ariaLabel": "NHS digital service manual homepage",
    "service": {
      "name": "Digital service manual",
      "longName": "true"
    },
    "showNav": "true",
        "primaryLinks": [
      {
        "url"  : "/service-manual/get-started",
        "label" : "Get started"
      },
      {
        "url" : "/service-manual/styles",
        "label" : 'Styles'
      },
      {
        "url"  : '/service-manual/components',
        "label" : 'Components'
      },
      {
        "url"  : '/service-manual/patterns',
        "label" : 'Patterns'
      },
      {
        "url"  : '/service-manual/content',
        "label" : 'Content style guide'
      },
      {
        "url"  : '/service-manual/accessibility',
        "label" : 'Accessibility'
      },
      {
        "url"  : '/service-manual/community',
        "label" : 'Community'
      }
    ],
    "showSearch": "true",
    "searchAction": "/service-manual/search/"
    })
  }}
{% endif %}
